modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.production]
NODE_ENV = "production"

[userenv.shared]
STRIPE_SECRET_KEY = "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"
STRIPE_REDIRECT_URL = "https://universitio.com/askimate-dashboard?checkout=success&session_id={CHECKOUT_SESSION_ID}"
STRIPE_WEBHOOK_SECRET = "whsec_JDiuw7S1SvMECs6FOpEenbbvQQECZmjH"
GOOGLE_CLIENT_ID = "588699674528-bhcs6ne92io2qid8ps6jdbb58uptlkmn.apps.googleusercontent.com"
GOOGLE_REDIRECT_URI = "https://universitio.com/api/askimate/auth/google/callback"
EMAIL_FROM = "AskiMate <noreply@universitio.com>"
EMAIL_REPLY_TO = "support@universitio.com"
